{
  "presets": [
    ["env", {
      "targets": {
        "node": "10.2.0",
        "chrome": 66,
        "electron": "3.1.9"
      },
      "useBuiltIns": true,
      "exclude": ["transform-regenerator"],
      "debug": true
    }],
    "react"
  ],
  "plugins": [
    "add-module-exports",
    "dynamic-import-webpack",
    "transform-object-rest-spread",
    "transform-export-extensions",
    "transform-class-properties"
  ],
  "env": {
    "production": {
      "presets": ["react-optimize"],
      "plugins": ["babel-plugin-dev-expression"]
    },
    "development": {
      "plugins": [
        "transform-class-properties",
        "transform-es2015-classes",
        ["flow-runtime", {
          "assert": true,
          "annotate": true
        }]
      ]
    }
  }
}
